html
	font-size 62.5%
body
	height 100%
	margin 0
	padding 0
body
	height 100%
	margin 0
	padding 0
	-webkit-text-size-adjust 100%
.root
	background url('.././images/bg.png') repeat
	background-size 100% 100%
#page
	width 100%
	height 100%
header
	font-family 'Ribeye Marrow', cursive
	font-weight 400
	font-size 4.8rem
	color #005900
	padding 20px
	width 880px
	border-bottom dotted 2px #005900

.main_area
	.start_btn
		font-size 44rem
	.number
		font-size 44rem
// .side_area
// 	.reach_num_content
// 		h2
// 			font-family 'Ribeye Marrow', cursive
// 			font-weight 400
// 			font-size 3rem
// 			color #005900
// 	.reach_number_of
// 		.num
// 			font-size 3rem
// 			color #D7FFBF
// 			font-weight bold
// 		.person
// 			font-size 2rem
// 			font-weight bold
// 			color #005900
// 	.reach_name_content
// 		margin 10px
// 		padding 30px
// 		border-radius 8px
// 		background-color #3B9F0F
// 		-webkit-box-shadow inset 0 2px 0 #2F7F0C
// 		width 30%
// 		ul
// 			list-style none
// 			li
// 				font-size 2rem
// 				color #D7FFBF
// 				border-bottom 2px dotted #005900
// 				padding 10px 0
.bottom_area
	margin 10px
	padding 30px
	border-radius 8px
	background-color #3B9F0F
	-webkit-box-shadow inset 0 2px 0 #2F7F0C
	p
		.pre
			font-family 'Ribeye Marrow', cursive
			font-weight 400
			font-size 3rem
			color #005900
	.prenum
		padding 30px
		color #D7FFBF
		font-size 2rem
.odometer
	font-size: 100px
