doctype 5
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title= Bingo
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='./javascripts/chikuwa.js')
		script(type='text/javascript', src='./javascripts/plugin/chikuwa-http.js')
		script(type='text/javascript', src='./node_modules/underscore/underscore.js')
		script(type='text/javascript', src='./javascripts/card.js')
	body