doctype 5
html
	head
		title= Bingo
		link(rel='stylesheet', href='stylesheets/main.css')
		link(rel='stylesheet', href='stylesheets/screen.css')
		link(href='http://fonts.googleapis.com/css?family=Ribeye+Marrow', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Rum+Raisin', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='javascripts/chikuwa.js')
		script(type='text/javascript', src='javascripts/plugin/chikuwa-http.js')
		script(type='text/javascript', src='javascripts/underscore.js')
		script(type='text/javascript', src='javascripts/screen.js')
	body
		#page.root
			.screen