doctype 5
html
	head
		title= Bingo
		link(rel='stylesheet', href='stylesheets/style.css')
		script(type='text/javascript', src='javascripts/chikuwa.js')
		script(type='text/javascript', src='javascripts/plugin/chikuwa-http.js')
		script(type='text/javascript', src='javascripts/underscore.js')
		script(type='text/javascript', src='javascripts/screen.js')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	body
		#page.root
				.header_area
					header.header
						h1 #{title}
				.main_area

